<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Control Panel</title>
    <link rel="stylesheet" href="static/css/default.css">
</head>
<body>
    <h1>The Ivory Tower</h1>
    <h2>Unified control panel</h2>
    <div class="main-container">
        <div class="button-container">
            <a href="https://cloud.coho-polaris.ts.net" class="button">Nextcloud</a>
            <a href="http://ivorytower-netmaster.coho-polaris.ts.net/admin" class="button">DNS Resolver</a>
            <a href="http://ivorytower-netmaster.coho-polaris.ts.net:8080/index.html" class="button">Control Panel</a>
            <a href="http://ivorytower-netmaster.coho-polaris.ts.net:8080/functions/wol/celestes-desktp" class="button">Start Celeste's Desktop</a>
            <a href="http://ivorytower-netmaster.coho-polaris.ts.net:8080/functions/wol/shaes-desktp" class="button">Start Shae's Desktop</a>
        </div>
        <div class="content-container">
            <div class="image-container">
                <div class="image-placeholder">Server Stats Embed</div>
                <div class="image-placeholder">Future Image</div>
            </div>
            <div class="login-box">
                <h2>Login</h2>
                <input type="text" placeholder="Username">
                <input type="password" placeholder="Password">
                <button>Login</button>
            </div>
        </div>
    </div>
</body>
</html>